streamlit
langgraph
langchain
langchain-core
langchain-community
langchain-groq

chromadb

sentence-transformers

pymupdf

python-dotenv

pydantic

pandas

numpy

loguru

tqdm

sqlite-utils

requests

beautifulsoup4

lxml